<form class="container">
  <div *ngFor="let el of [].constructor(2); let i = index">
    <div class="container_header">{{name[i]}}</div>
    <div class="container_details">
      <ul class="container_list">Typ pokemona
        <li class="container_list_flex">
          <span *ngFor="let el of type[i]" class="container_list_element">
            {{el.type.name}}
          </span>
        </li>
      </ul>
      <ul class="container_list">Umiejętności
        <li class="container_list_flex">
          <span *ngFor="let el of abilities[i]" class="container_list_element">
            {{el.ability.name}}
          </span>
        </li>
      </ul>
      <ul class="container_list">Możliwe ruchy
        <li class="container_list_flex">
          <span *ngFor="let el of moves[i]" class="container_list_element">
            {{el.move.name}}
          </span>
        </li>
      </ul>
      <ul class="container_list">Statystyki
        <li class="container_list_flex">
          <span *ngFor="let el of stats[i]" class="container_list_element">
            {{el.stat.name}}: {{el.base_stat}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</form>


