.header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-family: Candara, serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
  background-color: #b7ffc3;
  border-radius: 10px;
  border: 2px solid #44ff63;
}

.container_pokemon_column {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-left: 1px;
}

.container_pokemon_column_element {
  height: 25px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  font-family: Candara, serif;
}

.container_pokemon_column_element:hover {
  cursor: pointer;
}

.container_pokemon_column_element:last-child {
  border-bottom: 0;
}

.list {
  background-color: white;
  position: relative;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

.compare {
  text-align: center;
}

.compare_header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Candara, serif;
}

.compare_container {
  width: 95%;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #b7ffc3;
  border-radius: 10px;
  border: 2px solid #44ff63;
  margin: 0 auto 10px;
}

.compare_container_element {
  font-family: Candara, serif;
}
