<div class="header">Aplikacja do porównywania pokemonów</div>

<div class="container">
  <div class="container_pokemon_column">
    <div class="container_pokemon_column_element" *ngFor="let el of pokemon_list; let i = index">
      {{el.name}}
    </div>
  </div>
  <div class="container_pokemon_column">
    <div class="container_pokemon_column_element"
         *ngFor="let el of type_list; let i = index"
         (click)="showTypeList(i)">
      {{el[0].type.name}}
      <span *ngIf="type_list[i].length - 1 > 0">
        [{{type_list[i].length - 1}}]
        <span *ngIf="type_visibility[i]">
          <div class="list" *ngFor="let typ of type_list[i]">
            {{typ.type.name}}
          </div>
        </span>
      </span>
    </div>
  </div>
  <div class="container_pokemon_column">
    <div class="container_pokemon_column_element"
         *ngFor="let el of ability_list; let i = index"
         (click)="showAbilityList(i)">
      {{el[0].ability.name}}
      <span *ngIf="ability_list[i].length - 1 > 0">
        [{{ability_list[i].length - 1}}]
        <span *ngIf="ability_visibility[i]">
          <div class="list" *ngFor="let abi of ability_list[i]">
            {{abi.ability.name}}
          </div>
        </span>
      </span>
    </div>
  </div>
  <div class="container_pokemon_column">
    <div class="container_pokemon_column_element"
         *ngFor="let num of [].constructor(20); let j = index">
      <button routerLink="/details" [queryParams]="{id: (current_page - 1) * 20 + j + 1}">Szczegóły</button>
      <button *ngIf="compareElements((current_page - 1) * 20 + j)" (click)="addToCompare(j)"
              [disabled]="disable_buttons">
        Dodaj do porównania
      </button>
      <button *ngIf="!compareElements((current_page - 1) * 20 + j)" (click)="removeFromCompare(j)">
        Usuń z porównania
      </button>
    </div>
  </div>
</div>

<div class="pagination">
  <button (click)="getPreviousPage()" [disabled]="current_page == 1">Poprzednia strona</button>
  {{current_page}}
  <button (click)="getNextPage()" [disabled]="current_page == 45">Następna strona</button>
</div>

<div class="compare">
  <div class="compare_header">Pokemony do porównania</div>
  <div class="compare_container">
    <div *ngFor="let el of compare_list_name">
      <div class="compare_container_element">{{el}}</div>
    </div>
  </div>
  <button [disabled]="!disable_buttons" routerLink="/compare"
          [queryParams]="{id: compare_list_id[0], id2: compare_list_id[1]}">
    Porównaj
  </button>
</div>

