.container_header {
  font-size: 30px;
  font-weight: bold;
  font-family: Candara, serif;
  text-align: center;
}

.container_details {
  background-color: #b7ffc3;
  border-radius: 10px;
  border: 2px solid #44ff63;
  margin: 0 auto 10px;
}

.container_list {
  padding-left: 0;
  font-size: 25px;
  margin: 10px 10px 5px;
  text-align: center;
  border-bottom: 1px solid black;
}

.container_list_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container_list_element {
  padding-left: 0;
  padding-bottom: 4px;
  margin-left: 20px;
  font-size: 18px;
  width: 30%;
  list-style-type: none;
}
