<form class="container">
  <div class="container_header">{{name}}</div>
  <div class="container_details">
    <ul class="container_list">Typ pokemona
      <li class="container_list_flex">
          <span *ngFor="let el of type" class="container_list_element">
            {{el.type.name}}
          </span>
      </li>
    </ul>
    <ul class="container_list">Umiejętności
      <li class="container_list_flex">
          <span *ngFor="let el of abilities" class="container_list_element">
            {{el.ability.name}}
          </span>
      </li>
    </ul>
    <ul class="container_list">Możliwe ruchy
      <li class="container_list_flex">
          <span *ngFor="let el of moves" class="container_list_element">
            {{el.move.name}}
          </span>
      </li>
    </ul>
    <ul class="container_list">Statystyki
      <li class="container_list_flex">
          <span *ngFor="let el of stats" class="container_list_element">
            {{el.stat.name}}: {{el.base_stat}}
          </span>
      </li>
    </ul>
  </div>
</form>


